body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    sans-serif;
    background-color: #ffffff47;
}
header{
    /* width - ancho /// height - alto */
    width: 100%;
    height: 60px;
}
header nav{
   display: flex;

   /*justificar a la derecha*/

   justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    /*eliminar puntos*/
    list-style: none;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration:none;

}
nav .nav-right-section a{
    margin-right: 25px;
    color:rgb(0, 0, 0)
}

/*imagen estilo*/
nav .nav-right-section 

img{
    border-radius: 90px;
    margin-left: 5px;
    width: 32px;
    height: 32px;
}

/*****************main***********************/

main{
    margin-top: 50px;
    text-align: center;
}

main .main-logo{
    width: 530px;
    margin: auto;
    margin-bottom: 35px;
}

main .main-logo img{
    width: 300px;
    height: 100px;
}


/*seccion input*/
main .main-input{
    width: 530px;
    margin: auto;
    margin-bottom: 30px;
}

main .main-input-container{
    width: 500px;
    border-radius: 80px;
    border: 1px solid #b9b8b847;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    border: none;
    width: 435px;
    height: 40px;
    outline: none;
    background-color: #ffffff47;

}

main .main-input-container:hover{
    box-shadow: 0 1px 6px 1px #5e5a5a47;
}
main .main-input .search-icon{
    background-image: url("https://img.icons8.com/android/24/000000/search.png");
    background-position: center;
    background-size: contain;
    width: 40px;
    background-repeat:  no-repeat;
    height: 15px;
}

main .main-input .micro-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-input .cam-icon{
    background-image: url("https://cdn.discordapp.com/attachments/1078439993271398553/1091819945328914512/lens.png");
    width: 60px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .main-buttons{
    width: 550px;
    margin: auto;
    background-color: ##f8f9fa
    color: #3c4043;

}

main .main-buttons div{
    border: none;
    display: inline-block;
    border: 1px solid #92929247;
}

/*FOOTER*/

footer{
    background-color:#f2f2f2;
    width: 100%;
    height: 50px;
    position: absolute;
    font-size: 13px;
    border-top: 1px solid #e4e4e4;
    /*Footer dividido en columnas*/
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /*posicion de footer al final*/
    bottom: 0%;
}
    footer ul{
        margin: 10px;
        list-style: none;
        display: flex;
        padding-left:0px;
    }

    footer .footer-left{
        justify-self: left;
    }
    footer .footer-right{
        justify-self: left;
    }

    footer ul li a{
        color: #70757a;
        margin: 10px;
    }
